NAME_COLLECTION=""
OPENSEARCH_HOST=""
OPENSEARCH_PROTOCOL=""
OPENSEARCH_PORT=""
OPENSEARCH_AUTH=""
OPENSEARCH_TOKEN=""

DATABASE_CLIENT=""
DATABASE_DB=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_USER=""
DATABASE_PASSWORD=""